
@{
    ViewBag.Title = "NewLater";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    Số ca mắc ngày hôm nay ghi nhận giảm hơn so với ngày hôm qua, tổng số ca mắc hôm nay là 4.195 (hôm qua 5.926), trong đó TP Hồ Chí Minh giảm hơn 1.500 ca (3.074 ca so với 4.692). Chi tiết ngày hôm nay như sau:

    + 20 ca cách ly ngay sau khi nhập cảnh tại Tây Ninh (12), Thanh Hóa (5), Hải Dương (1), Kiên Giang (1), Hà Nội (1).

    + 4.175 ca ghi nhận trong nước tại TP. Hồ Chí Minh (3074), Bình Dương (503), Đồng Nai (154), Đồng Tháp (53), Hà Nội (44), Vĩnh Long (41), Phú Yên (41), Long An (37), Khánh Hoà (34), Bến Tre (30), Bà Rịa - Vũng Tàu (28), Sóc Trăng (19), Bình Thuận (19), Quảng Ngãi (17), Cần Thơ (15), Quảng Nam (11), An Giang (8 ), Trà Vinh (8 ), Kiên Giang (8 ), Bình Phước (6), Bắc Ninh (4), Hưng Yên (4), Ninh Thuận (4), Lào Cai (2), Vĩnh Phúc (2), Hậu Giang (2), Bình Định (2), Thái Bình (1), Gia Lai (1), Đắk Nông (1), Hải Phòng (1), Ninh Bình (1), trong đó có 497 ca trong cộng đồng.

    Tình hình dịch COVID-19 tại Việt Nam:

    - Việt Nam có tổng cộng 55.946 ca ghi nhận trong nước và 2.079 ca nhập cảnh.

    - Số lượng ca mắc mới ghi nhận trong nước tính từ ngày 27/4 đến nay là 52.215 ca, trong đó có 7.893 bệnh nhân đã được công bố khỏi bệnh.

    - Số ca mắc mới ghi nhận trong nước tính của đợt dịch kể từ 27/4 đến nay là 54.376 ca, trong đó có 8.273 bệnh nhân đã được công bố khỏi bệnh.

    - Có 11 tỉnh, thành phố đã qua 14 ngày không ghi nhận trường hợp mắc mới: Yên Bái, Quảng Trị, Tuyên Quang, Sơn La, Thái Nguyên, Điện Biên, Hải Dương, Phú Thọ, Quảng Ninh, Hoà Bình, Bắc Kạn.

    - Có 04 tỉnh không có lây nhiễm thứ phát trên địa bàn: Vĩnh Phúc, Nam Định, Lào Cai, Ninh Bình.
</p>

